.server-bar {
    background-color: var(--color-server-bar);

    padding: 7px;

    width: var(--server-bar-width);
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.server-bar-icon:hover {
    border-radius: 10px;
}

.server-bar-list {
    flex: 1;

    overflow-y: scroll;
    scrollbar-width: none;
}

.server-bar-user-section {
    background-color: #222;
    box-sizing: border-box;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: -7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-section-button {
    transition: 0.2s;
    width: 32px;
    height: 32px;
}

.user-section-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}